.imageContainer {
  position: relative;
  display: inline-block;
}

.favoriteImage:hover + .hover-text {
  opacity: 1;
}

.hoverText {
  position: absolute;
  top: 40%;
  left: -230%;
  color: rgb(7, 7, 7);
  transform: translate(-50%, -50%);
}

.imageMain {
  cursor: pointer;
  padding-top: 2px;
  margin-right: 4px;
  white-space: nowrap;
  font-size: 10px;
}
